<h1>Welcome to RetFlix!</h1>
<p>See our collection of movies below</p>

<% @movies.each do |movie| %>
<h2><%= movie.title %></h2>
<h3><%= movie.description %></h3>
<h3><%= movie.year_released %></h3>
<% end %>
